/* form styling border */
.contact-section .form-control {
    border: 1px solid  #2fbfbc;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
  
  }
/* jheading tag styling */
  h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: #101f1d;
    font-size: 35px;
    letter-spacing: 1.25px;
    margin-top: 0;
  }
/* styling for input box and label in the form */
  .contact-fields {
    padding: 40px 0 0;
  }

  .phone {
    padding-top: 50px;
  }

  .phone,
  .email,
  .working-hours {
    margin-bottom:30px;
  }

  .phone a,
  .email a,
  .location a {
    color: #fd4f00;
    font-size:18px;
  }

  .contact-h2 {
    color: #fd4f00;
    padding-top:20px;
  }

  .contact-fields .form-group {
    margin-bottom: 35px;
  }

  .contact-info {
    margin-top: -40px;
  }

  .contact-fields .form-group input,
  .contact-fields .form-group textarea {
    font-size: 16px;
  }

  .location a.btn.btn-accent {
    padding: 12px 26px 10px;
    margin-top: 30px;
    font-size: 16px;
  }

  .location a.btn.btn-accent img {
    margin-right: 20px;
  }

  .location hr {
    margin-bottom: 10px;
  }

  