


.register-photo {

    padding: 80px 0;
    }
    .register-photo .image-holder {
    display: table-cell;
    width: 65%;
    background: url(https://media-cdn.tripadvisor.com/media/photo-w/17/b3/09/b4/by-the-poolside.jpg);
    background-size: cover
    }
    .register-photo .form-container {
    display: table;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1)
    }
    .register-photo form {
    display: table-cell;
    width: 500px;
    background-color: rgb(163, 122, 122);
    border: 1px solid black;
    padding: 20px 40px 20px 26px;
    color: black;
    }
    @media (max-width:991px) {
    .register-photo form {
    padding: 40px
    }
    }
    .register-photo form h2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px
    }
    .register-photo form .form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 0px;
    height: 40px
    }
    .register-photo form .form-check {
    font-size: 13px;
    line-height: 20px
    }
    .register-photo form .btn-primary {
    background: green;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 35px;
    text-shadow: none;
    outline: none !important
    }
    .register-photo form .btn-primary:hover,
    .register-photo form .btn-primary:active {
    background: green
    }
    .register-photo form .btn-primary:active {
    transform: translateY(1px)
    }
    .register-photo form .already {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none
    }
    
    
    
    .form-container .form-control::-webkit-input-placeholder {
      color: rgba(12, 4, 4, 0.5)
       
    }
    
    .form-container .form-control:-ms-input-placeholder {
        color: rgba(12, 4, 4, 0.5)
    }
    
    .form-container .form-control::placeholder {
      color: rgba(12, 4, 4, 0.5)
    }
    
    
    
    
    
    .form-container .form-header {
        text-align: center;
        
        margin-bottom: 30px ;
        border: 1px solid black;
        background-color: #91a4b6;
        border-radius: 5px;
    }
    
    .form-container .form-header h1 {
        font-weight: 700;
        text-transform: capitalize;
        font-size: 42px;
        margin: 0px;
        color: rgb(34, 2, 2)
    }
    
    
    #discription
    {
        margin-top: 2%;
        margin-left: 4%;
        margin-right: 4%;
        margin-bottom: 4%;
    
    }






    .button4 {
        
            padding: 1.3em 3em;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 2.5px;
            font-weight: 500;
            color: #000;
            background-color: #fff;
            border: none;
            border-radius: 45px;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease 0s;
            cursor: pointer;
            outline: none;
            margin: 2%;
           }
           
          .button4:hover {
            background-color: #2EE59D;
            box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
            color: #fff;
            transform: translateY(-7px);
           }
           
           .button4:active {
            transform: translateY(-1px);
           }