#Logo                            /* styling code for logo in the header*/
{
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
}

#Delhi
{
    height: 180px;
    width: 200px;
}

#Goa
{
    height: 180px;
    width: 200px;
}

#Hyderabad
{
    height: 180px;
    width: 200px;
}

#kolkata
{
    height: 180px;
    width: 200px;
}
#facebook
{
    height: 20px;
    width: 22px;
    border-radius: 50%;
}
#instagram
{
    height: 20px;
    width: 22px;
    border-radius: 50%;
}
#twitter
{
    height: 20px;
    width: 22px;
    border-radius: 50%;
}
#login-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
  }