/* view more cities  */
#more_cards {
    text-align: center;
    margin-top: 0;
}


/* styling and sizing the search bar container*/
  .Search {

    width: 100vw;
    height: 380px;
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    box-shadow: none;
    display:flex ;
    justify-content: center;
    padding-top: 10%;
    background-color: #f1f1f1;

}

/* styling for search bar submit button */
.button5 {
    margin-top: 8px;
}
/* styling for search bar  input area*/
form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }

  /* styling for search bar submit button */
  form.search .button5 {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }


  /* animation for search bar submit button */
  form.search .button5:hover {
    background: #0b7dda;
  }
  
  form.search::after {
    content: "";
    clear: both;
    display: table;
  }







   