

/* spacing and alignment for collpase buttons */
 #Views {
    margin: 4%;
    justify-content: space-between;
} 


/* spacing and alignment for image collapse containers */
.container1 {
    margin: 4%;
   padding-right: 20px;
    display: flex;
    max-width: fit-content;
    background-color: gray;
   align-items: center;
   
}

.container__image {
   margin-right: 20px;
    width: 650px;
    object-fit: contain;
    align-self: flex-start;
}



