#hotel1
{
    height: 300px;
    width: 400px;
}

#hotel2
{
    height: 300px;
    width: 400px;
}

#hotel3
{
    height: 300px;
    width: 400px;
}

#map
{
    height: 300px;
    width: 400px;
}