
  


/* sizing hotel image */
#hotel1 {
    height: 500px;
    width: 400px;
}

/* styling the text iunformation */
#payInfo
{
    font-family: "Ubuntu";
    margin-left: 20px;

}

/* conatiner conatins final breakdown of the amount and pay now option*/
#payDec
{
    font-family: "Ubuntu";
    width:70%;
    border:1px solid #000;
    background-color: rosybrown;
    border-radius: 12px;
    margin : 2% 1% 2% 12%;
    padding:1% 2% ;
   
}

/* image and information container */
.container1 {
    margin: 4% 4% 0 25%;
    
   padding-right: 20px;
    display: flex;
    max-width: fit-content;
    background-color: gray;
   align-items: center;
   
}
.container__image {
   margin-right: 20px;
    width: 650px;
    object-fit: contain;
    align-self: flex-start;
}

/* pay now button styling , sizing and animation  */
.cta {
    position: relative;
    margin: 4% 2% 11% 5%;
    padding: 12px 0 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    background: #b1dae7;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }