body{
    margin: 0;
    background-color: #e0e0e0;
    

}

#hotelDec
{
    background-color: rgb(132,136,139);
    margin-top: 4%;
    margin-bottom: 2%;
    width: 50%;
    height: 20%;
    margin-left: 20%;

    
}

#hotel1
{
    height: 500px;
    width: 400px;
}

#payInfo
{
    font-family: "Ubuntu", sans-serif;
    margin-left: 20px;

}

#payDec
{
    height: fit-content;
    border:1px solid #000;
    border-radius: 10px;
    margin: 2%;
    padding:1% 2% ;
    font-family: "Ubuntu", sans-serif;
}

.container1 {
    margin: 4% 4% 0 25%;
    
   padding-right: 20px;
    display: flex;
    max-width: fit-content;
    background-color: gray;
   align-items: center;
   
}
.container__image {
   margin-right: 20px;
    width: 650px;
    object-fit: contain;
    align-self: flex-start;
}


.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    background: #b1dae7;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }